node_modules/
bower_components/
public/bower_components/
.idea/
._*
*.log
public/plantillas/
.vscode/
public/plantilla/
public/bundle.js
public/main.*.js
public/vendedor.*.js
public/main.js
public/vendedor.js
public/main.*.css
public/index.html
src/mock-api/db.json
*.map
